In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

O:\anaconda3\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [10]:
rmsds = pd.read_csv('rmsds.txt')
rmsds['max_rmsd'] = rmsds['max_rmsd'].astype('float')
rmsds['ptm'] = rmsds['ptm'].astype('float')
list(rmsds[rmsds['max_rmsd']>5]['trimer'])

['AGN',
 'KLC',
 'LMN',
 'JKD',
 'DEM',
 'KLE',
 'CDL',
 'JKB',
 'MNH',
 'MNG',
 'NHA',
 'JKL',
 'IJC',
 'ABH',
 'DEK',
 'BCI',
 'IJK',
 'EFL',
 'NHF',
 'HIB',
 'CDE',
 'LMD',
 'FGH',
 'AGI',
 'BCK',
 'ABJ',
 'DEF',
 'MNE',
 'IJA',
 'CDJ']

In [17]:
print ('How many trimer are correctly predicted?    ',len(rmsds[rmsds['max_rmsd']<5]),'(out of 54)')

How many trimer are correctly predicted?     24 (out of 54)

In [19]:
fff=['ABC','BCD','CDE','DEF','EFG','FGA','GAB']
sss=['HIJ','IJK','JKL','KLM','LMN','MNH','NHI']
ffs=['ABI', 'ABH', 'ABJ', 'BCI', 'BCJ', 'BCK', 'CDJ', 'CDK', 'CDL', 'DEK', 'DEL', 'DEM', 'EFM', 'EFL', 'EFN', 'FGN', 'FGM', 'FGH', 'AGN', 'AGH', 'AGI']
ssf=['HIA','HIG','HIB','IJA','IJB','IJC','JKB','JKC','JKD','KLC','KLD','KLE','LMD','LME','LMF','MNE','MNF','MNG','NHG','NHF','NHA']

In [28]:
rmsds[(rmsds['trimer'].isin(fff))]
#len(rmsds[(rmsds['max_rmsd']<5) & (rmsds['trimer'].isin(fff))])

   trimer   max_rmsd       ptm
31    ABC   2.117999  0.787305
33    CDE  75.722794  0.830356
38    BCD   1.843832  0.840793
40    EFG   1.529480  0.856843
44    DEF  76.974922  0.854183
48    GAB   1.736647  0.789952

In [30]:
rmsds[(rmsds['trimer'].isin(sss))]

   trimer   max_rmsd       ptm
3     LMN  44.756462  0.778363
12    MNH  66.862762  0.920630
14    KLM   3.745462  0.832402
16    JKL  77.518463  0.743535
23    IJK  61.406513  0.870663
32    HIJ   2.240776  0.745317
47    NHI   1.417558  0.742309

In [37]:
print (len(rmsds[(rmsds['max_rmsd']<5) & (rmsds['trimer'].isin(ssf))]),'/',len(rmsds[(rmsds['trimer'].isin(ssf))]))
rmsds[(rmsds['trimer'].isin(ssf))]

9 / 21

   trimer   max_rmsd       ptm
0     NHG   2.752267  0.878297
2     KLC  36.313686  0.779850
4     JKD  60.182171  0.672188
6     MNF   4.065700  0.807535
8     KLE  34.270508  0.703033
9     IJB   3.058390  0.858666
11    JKB  62.743740  0.690039
13    MNG  65.233734  0.683992
15    NHA  35.306950  0.694573
17    IJC  33.182911  0.714718
20    JKC   3.070718  0.797311
26    NHF  38.353905  0.793174
27    HIB  35.502644  0.793794
28    KLD   1.541060  0.902257
29    LME   1.601993  0.877415
34    LMD  34.928528  0.711274
41    LMF   1.540220  0.649072
46    HIG   4.458204  0.794875
50    MNE  48.106747  0.700401
51    IJA  34.682362  0.719358
53    HIA   1.735916  0.895897

In [38]:
print (len(rmsds[(rmsds['max_rmsd']<5) & (rmsds['trimer'].isin(ffs))]),'/',len(rmsds[(rmsds['trimer'].isin(ffs))]))
rmsds[(rmsds['trimer'].isin(ffs))]

8 / 20

   trimer   max_rmsd       ptm
1     AGN  33.026527  0.750964
5     DEM  63.343208  0.785474
7     BCJ   1.818542  0.803364
10    CDL  35.125324  0.702080
18    EFM   1.201218  0.895401
19    ABH  62.602757  0.703667
21    DEK  60.771484  0.810629
22    BCI  32.750977  0.662228
24    EFL   6.299222  0.612289
25    DEL   2.353756  0.775008
30    CDK   2.770593  0.886753
35    FGH  63.779945  0.744755
36    AGI  35.001118  0.768747
37    BCK  33.501602  0.680498
39    FGN   1.631784  0.870231
42    EFN   4.389647  0.706874
43    ABJ  62.565357  0.698557
45    AGH   2.539422  0.882860
49    ABI   1.684090  0.840007
52    CDJ  32.950237  0.653852

In [11]:
rmsds[(rmsds['trimer'].str.contains('B')) & (rmsds['trimer'].str.contains('A'))]

   trimer   max_rmsd       ptm
19    ABH  62.602757  0.703667
31    ABC   2.117999  0.787305
43    ABJ  62.565357  0.698557
48    GAB   1.736647  0.789952
49    ABI   1.684090  0.840007